<md-toolbar class="md-menu-toolbar" style="z-index: 1;">
    <div layout="row" layout-align="center center">
        <div>
            <h2 class="md-toolbar-tools" layout-align="center center">Editor de Grafos</h2>
            <md-menu-bar>
                <md-menu>
                    <button ng-click="$mdMenu.open()">
                        <md-icon>insert_drive_file</md-icon>
                        Arquivo
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-menu>
                                <md-button ng-click="$mdMenu.open()">Novo</md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button ng-click="fn.actions('criarGrafo', $event)">
                                            Grafo
                                            <span class="md-alt-text"> 1</span>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="fn.actions('abrirXML', $event)">
                                Abrir XML...
                                <span class="md-alt-text"> 9</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="fn.actions('imprimirGrafo', $event)">
                                Imprimir Grafo
                                <span class="md-alt-text"> 8</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdMenu.open()">
                        <md-icon>mode_edit</md-icon>
                        Editar Grafo
                    </button>
                    <md-menu-content>
                        <md-menu-item class="md-indent">
                            <md-icon>add_circle</md-icon>
                            <md-button ng-click="fn.actions('addVertice', $event)">
                                Adicionar Vertice
                                <span class="md-alt-text">1</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon>delete</md-icon>
                            <md-button ng-click="fn.actions('rmVertice', $event)">
                                Remover Vertice
                                <span class="md-alt-text">2</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon>add_circle</md-icon>
                            <md-button ng-click="fn.actions('addAresta', $event)">
                                Adicionar Aresta / Arco
                                <span class="md-alt-text">3</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon>delete</md-icon>
                            <md-button ng-click="fn.actions('rmAresta', $event)">
                                Remover Aresta
                                <span class="md-alt-text">4</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon>check_circle</md-icon>
                            <md-button ng-click="fn.actions('vrVertice', $event)">
                                Verificar Vertice
                                <span class="md-alt-text"> 5</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon>check_circle</md-icon>
                            <md-button ng-click="fn.actions('vrAresta', $event)">
                                Verificar Aresta
                                <span class="md-alt-text"> 6</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon>keyboard_return</md-icon>
                            <md-button ng-click="fn.actions('rtArestas', $event)">
                                Retornar Arestas
                                <span class="md-alt-text"> 7</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon>print</md-icon>
                            <md-button ng-click="fn.actions('printGrafo', $event)">
                                Imprimir Grafo
                                <span class="md-alt-text"> 8</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdMenu.open()">
                        <md-icon>code</md-icon>
                        Algorítimos
                    </button>
                    <md-menu-content>
                        <md-menu-item class="md-indent">
                            <md-icon>code</md-icon>
                            <md-button ng-click="fn.actions('vrPlanaridade', $event)">
                                Verificar Planaridade
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon>code</md-icon>
                            <md-button ng-click="fn.actions('bfs_dfs', $event)">
                                BFS / DFS
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon>code</md-icon>
                            <md-button ng-click="fn.actions('dijkstra', $event)">
                                Dijkstra
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon>code</md-icon>
                            <md-button ng-click="fn.actions('welsh_powell', $event)">
                                Welsh e Powell
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon>code</md-icon>
                            <md-button ng-click="fn.actions('dsatur', $event)">
                                DSATUR
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon>code</md-icon>
                            <md-button ng-click="fn.actions('prim', $event)">
                                Prim
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon>code</md-icon>
                            <md-button ng-click="fn.actions('kruskal', $event)">
                                Kruskal
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon>code</md-icon>
                            <md-button ng-click="fn.actions('TSP', $event)">
                                Caixeiro Viajante (TSP)
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon>code</md-icon>
                            <md-button ng-click="fn.actions('fordFukerson', $event)">
                                Ford-Fukerson
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdMenu.open()">
                        <md-icon>pageview</md-icon>
                        Visualização
                    </button>
                    <md-menu-content>
                        <md-menu-item type="checkbox" ng-model="data.settings.info">Informacoes</md-menu-item>
                        <md-menu-item type="checkbox" ng-model="data.settings.preview">Pre Visualizacao</md-menu-item>
                        <md-menu-item type="checkbox" ng-model="data.settings.sideNav">Menu Lateral</md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </div>
    </div>
</md-toolbar>


<section layout="row" flex>

    <md-sidenav class="md-sidenav-left" md-component-id="left" id="left" style="z-index: 2;" md-disable-backdrop>

        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Histórico de Ações</h1>
        </md-toolbar>

        <md-content>
            <md-list class="historico" flex>
                <md-list-item ng-repeat="item in data.historico">
                    {{item}}
                </md-list-item>
            </md-list>
        </md-content>

    </md-sidenav>

    <div class="main-page" ng-style="data.marginLeft" flex ng-include="'src/layout/main.html'"></div>

</section>