<md-card class="page">
    <md-tabs md-dynamic-height>
        <md-tab label="INFORMAÇÔES">

            <md-content class="md-padding" layout="column">
                <h2 class="md-title">Vértices</h2>

                <md-chips>
                    <md-chip ng-repeat="item in data.grafo.vertices">
                        <strong style="padding-right: 5px;">{{item}}</strong>
                        <md-button class="md-icon-button md-accent" ng-click="fn.rmVertice(item)" aria-label="Remover">
                            <md-icon aria-hidden="true">close</md-icon>
                        </md-button>
                    </md-chip>
                </md-chips>

            </md-content>

            <md-content class="md-padding" layout="column">
                <h2 class="md-title">Arestas / Arcos</h2>

                <md-chips>
                    <md-chip ng-repeat="item in data.grafo.arestas">
                        <strong style="padding-right: 5px;">{{item[0]}} {{data.grafo.direcionado ? item[2] + '> ' : '<' + item[2] +'> '}} {{item[1]}}</strong>
                        <md-button class="md-icon-button md-accent" ng-click="fn.rmAresta(item[0],item[1])" aria-label="Remover">
                            <md-icon aria-hidden="true">close</md-icon>
                        </md-button>
                    </md-chip>
                </md-chips>

            </md-content>

        </md-tab>
        <md-tab label="PRE-VISUALIZAÇÃO" ng-click="fn.graphJS()">
            <md-content class="md-padding" layout="column" id="graph-container" style="min-height: 500px; overflow:hidden;"></md-content>
        </md-tab>
    </md-tabs>
</md-card>